<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../Style/style.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <p class="topTitle">Audio Recorder</p>
      <canvas id="canvas" width="800" height="500"></canvas>
      <div class="controlRecorderSection">
        <button id="record">Record</button>
        <button id="stop">Stop</button>
        <button id="reproduce">Reproduce</button>
      </div>
      <div id="soundClips"></div>
    </div>
    <!-- <img src="../Resources/Waterfall_model.png" alt="" id="imgTest">
    <img style="background-color: aqua;" id="test"></img> -->
    <script src="../Controller/recorder.js" async defer></script>
  </body>
</html>
